* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body * {
  font-family: "Mulish", sans-serif;
  color: #fff;
}

.create-btn {
  display: inline-block;
  padding: 18px 61px;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.012em;
  color: #000000;
  background: #CAFC01;
  border-radius: 8px;
  transition: all 0.2s ease 0s;
}
.create-btn:hover {
  box-shadow: 0px 0px 8px 1px #CAFC01;
  color: #000000;
}

.spanline {
  display: inline-block;
  line-height: 100%;
  border-bottom: 2px solid #B153E0;
}

.container {
  height: 100%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

.header {
  width: 100%;
  height: 78px;
  background: #27262B;
}
.header__menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu a {
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.header__menu_img {
  width: 70px;
}
.header__menu_img img {
  width: 100%;
}
.header__menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
  width: 100%;
  margin-bottom: 0;
}
.header__menu_list li {
  transition: all 0.2s ease 0s;
  opacity: 0.7;
}
.header__menu_list li:hover {
  text-shadow: 0px 0px 2px #fff;
  opacity: 1;
}
.header__menu_input {
  max-width: 221px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__menu_input a {
  opacity: 0.7;
  transition: all 0.2s ease 0s;
}
.header__menu_input a:hover {
  text-shadow: 0px 0px 2px #fff;
  opacity: 1;
}
.header__menu_input a:last-child {
  opacity: 1;
  font-weight: 700;
  font-size: 16px;
  color: #CAFC01;
}

.garant {
  background: #1E1E1E;
  padding: 84px 0 49px;
  color: #fff;
}
.garant h1 {
  padding-top: 100px;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.garant__create {
  display: flex;
}
.garant__how {
  display: flex;
  align-items: center;
}
.garant__how_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 16px;
  background: #27262B;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: all 0.2s ease 0s;
}
.garant__how_btn:hover {
  box-shadow: 0px 0px 8px 1px #CAFC01;
}
.garant__how_btn span {
  margin-left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.325px 0 6.325px 9.94px;
  border-color: transparent transparent transparent #CAFC01;
}
.garant__how_text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.012em;
  color: #FFFFFF;
}
.garant__img {
  display: flex;
  justify-content: end;
}
.garant__img_wrapper {
  position: relative;
}
.garant__img-1, .garant__img-2, .garant__img-3 {
  position: absolute;
  display: inline-block;
  background: #27262B;
  border-radius: 8px;
  padding: 16px 24px;
}
.garant__img-1 p, .garant__img-2 p, .garant__img-3 p {
  font-size: 16px;
  margin-bottom: 4px;
}
.garant__img-1 .garant__img_wrap, .garant__img-2 .garant__img_wrap, .garant__img-3 .garant__img_wrap {
  display: flex;
  align-items: center;
}
.garant__img-1 .garant__img_wrap img, .garant__img-2 .garant__img_wrap img, .garant__img-3 .garant__img_wrap img {
  width: 20px;
  height: 20px;
}
.garant__img-1 .garant__img_wrap p, .garant__img-2 .garant__img_wrap p, .garant__img-3 .garant__img_wrap p {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.012em;
  margin-left: 10px;
  margin-bottom: 0;
}
.garant__img-1 {
  top: 64px;
  left: -105px;
}
.garant__img-2 {
  bottom: 136px;
  left: -34px;
}
.garant__img-3 {
  bottom: 92px;
  right: 0;
}

.logos {
  width: 100%;
  height: 112px;
  background: #B153E0;
}
.logos__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.logos__wrapper a {
  padding: 10px 30px;
}

.security {
  padding: 64px 0 0;
  background: #131218;
}
.security .container {
  position: relative;
}
.security__img-rel {
  top: -70px;
  left: -100px;
  position: absolute;
}
.security__img {
  padding-left: 15px;
}
.security__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.security__info_title {
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
}
.security__info_subtitle {
  margin: 24px 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
}
.security__info_text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 24px;
}

.how {
  padding: 64px 0 0;
  background: #131218;
}
.how__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  text-align: center;
  margin-bottom: 40px;
}
.how__video {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 16px;
}
.how__video_abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.how__video_abs video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service {
  padding: 64px 0 0;
  background: #131218;
}
.service h2 {
  margin-bottom: 36px;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  color: #FFFFFF;
  text-align: center;
}
.service__btns {
  margin: 0 auto;
  max-width: 855px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}
.service__btn {
  text-align: center;
  width: calc(33.3333333333% - 1px);
  padding: 16px 0;
  background: #27262B;
  color: #CAFC01;
  font-size: 16px;
  line-height: 150%;
  transition: all 0.3s ease 0s;
}
.service__btn:hover {
  color: #CAFC01;
  text-shadow: 0px 0px 5px #CAFC01;
}
.service__btn.active {
  color: #131218;
  background: #CAFC01;
}
.service__btn.active:hover {
  color: #131218;
  text-shadow: 0px 0px 3px #131218;
}
.service__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
}
.service__card_img {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #27262B;
  border-radius: 50%;
}
.service__card_img div {
  width: 76%;
  height: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #35333D;
  opacity: 0.8;
  border-radius: 50%;
}
.service__card_img div img {
  width: 41%;
}
.service__card_title {
  margin: 24px 0 8px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.012em;
}
.service__card_text {
  max-width: 245px;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  opacity: 0.9;
  margin-bottom: 0;
}

.plan {
  padding-top: 64px;
  background: #131218;
  position: relative;
  z-index: 5;
}
.plan h2 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0.012em;
  text-align: center;
}
.plan .card {
  background: #27262B;
  border-radius: 10px;
  margin-bottom: 24px;
}
.plan .card:not(:first-of-type), .plan .card:not(:last-of-type) {
  border-radius: 10px;
}
.plan .card .card-header {
  padding: 21px 22px;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0);
}
.plan .card .card-img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.plan .card .card-img img {
  width: 100%;
}
.plan .card .card-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
  margin-bottom: 0;
}
.plan .card .closeModal {
  position: absolute;
  top: 35px;
  right: 20px;
  width: 17px;
  height: 17px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity ease 0.5s;
}
.plan .card .closeModal:hover {
  opacity: 1;
}
.plan .card .closeModal::before,
.plan .card .closeModal::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 17px;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease 0s;
}
.plan .card .closeModal::before {
  transform: rotate(0deg);
}
.plan .card .closeModal::after {
  transform: rotate(90deg);
  transition: all 0.3s ease 0s;
}
.plan .card .closeModalAfter::after,
.plan .card .closeModalAfter::before {
  transform: rotate(0deg);
  transition: all 0.3s ease 0s;
  background-color: #131218;
}
.plan .card .card-body {
  padding-left: 58px;
  font-size: 16px;
  line-height: 150%;
  padding-top: 0;
}
.plan .card .btn {
  padding: 0;
  display: flex;
  align-items: center;
}
.plan .card .btn-link:hover {
  text-decoration: none;
}
.plan .card .btn.focus, .plan .card .btn:focus {
  box-shadow: none;
  text-decoration: none;
}
.plan .card-toggle {
  background-color: #CAFC01;
}
.plan .card-toggle * {
  color: #131218;
}
.plan__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  max-width: 325px;
  padding-top: 13px;
}
.plan__img_text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 150%;
}
.plan__img_btn {
  padding: 16px 24px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.012em;
  background: #131218;
  border: 1px solid #CAFC01;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease 0s;
}
.plan__img_btn:hover {
  color: #fff;
  text-shadow: 0px 0px 4px #fff;
  box-shadow: 0px 0px 4px 1px #CAFC01;
}
.plan__img_abs {
  position: absolute;
  top: -52px;
  left: -75px;
  z-index: -1;
}
.plan h2.plan__img_title {
  margin: 36px 0 8px;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  letter-spacing: 0.012em;
}

.feedback {
  padding-bottom: 60px;
  padding-top: 64px;
  background: #131218;
  /* Input Thumb */
  /* Input Track */
}
.feedback .slide {
  height: 100px;
  line-height: 100px;
  border: 1px solid;
  text-align: center;
  font-size: 60px;
  margin: 0 5px;
}
.feedback .slick-list {
  margin: 0 -5px;
}
.feedback .slick-current {
  color: red;
}
.feedback input {
  display: inline-block;
  margin: 10px auto;
}
.feedback input[type=number] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}
.feedback input[type=range] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}
.feedback input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #CAFC01;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.feedback input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #CAFC01;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.feedback input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #CAFC01;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.feedback input[type=range]::-webkit-slider-thumb:hover {
  background: #CAFC01;
}
.feedback input[type=range]::-moz-range-thumb:hover {
  background: #CAFC01;
}
.feedback input[type=range]::-ms-thumb:hover {
  background: #CAFC01;
}
.feedback input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.feedback input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.feedback input[type=range]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}